[submodule "SUBMODULE/sale-workflow"]
	path = SUBMODULE/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 17.0
[submodule "SUBMODULE/server-ux"]
	path = SUBMODULE/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 17.0
